.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.contact-info {
    background-color: var(--card-background);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    border: 1px solid #455a73;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #112240;
    color: var(--text-color);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(97, 218, 251, 0.5);
    outline: none;
}

.contact-form button {
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: scale(1.05);
} 